/* common */
*{
    margin:0;
    padding:0;
}

h1{
    color:black;
}


/* start */
.openingImg{
    width:70%
}
/* demo */
.fadein{
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}



.demoimg{
    position: absolute;
    top:0;
    left:72;
    animation-name: album;
    animation-duration: 5s;
    opacity: 0;
}
.demoimg:nth-of-type(1) {
    animation-delay: 0s;
}
.demoimg:nth-of-type(2) {
    animation-delay:2.5s;
}


@keyframes album {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* quizSet */
li{
    background:#06716d;
    color:white;
}
li.correct {
    background: #d4edda;
    border:10px solid #c3e6cb;
    color: #155724;
    font-weight: bold;
}

li.wrong {
    background: #f8d8da;
    border-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;
}

/* petit chat */
.chatdiv{
    position:fixed;
    top:8rem; 
    right:0rem;
}
.chatdiv img{
    width:80px;
}
.chatmove{
    transform: rotate(45deg)
}

#boutton .disabled {
    background: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
}

/* explication */
#explication {
    background:white;
    width:80vw;
    height:50vh;
    position:absolute;
    top:260px;
    left:0;
    right:0;
    margin:0 auto;
    border-radius:5px; 
}

#mask{
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
}


#showScore{
    background:white;
    width:70vw;
    height:70vh;
    position:absolute;
    top:50px;
    left:0;
    right:0;
    margin:0 auto;
    border-radius:5px; 
}




/* indice */
.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
    margin-right: -90px;
    width: 80px;
}

.balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: white;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid white;
}

.says p {
    margin: 0;
    padding: 0;
}

/* media */
@media (min-width: 800px) {
    .openingImg{
    width:60%;
    }
    .demoimg{
        position: absolute;
        top:10px;
        left:300px;
        animation-name: album;
        animation-duration: 5s;
        opacity: 0;
    }
    .demo3upper img{
    width:50%;
    }
    .demo2under{
        position:absolute;
        bottom:-120px;
        right:0px;
        left:0px;
    
    }
    #question{
        font-size:2rem;
    }
    #answers li{
        font-size:1.8rem;
    }
    .chatdiv{
        position:relative;
        top:15%;
        left:70%;
    }
    .chatdiv img{
        width:150px;
    }
    #explication {
        width:60%;
        position:absolute;
        bottom:-300px;
        background:#f3b450;
    }
    .explicationdiv{
        padding:0.5rem;
    }
    #explicationtext{
        font-size:1.4rem;
    }
    #eimage{
        width:500px;
    }
    #indice{
        font-size:1.2rem;
    }
}